In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json as js
import gmaps
from scipy.stats import linregress

# Google developer API key
from RPAPIkey import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [17]:
# Read in the Geo_Df file
Geo_df = pd.read_csv('Geo_df.csv')
Geo_df

     Unnamed: 0                             School Name        Lat       Long
0             1                    Davenport University  42.849462 -85.530665
1             2              University of West Georgia  33.571825 -85.103244
2             5       Rochester Institute of Technology  43.084496 -77.674931
3             6  Fairleigh Dickinson-College at Florham  40.776196 -74.432130
4             7                         Troy University  31.801096 -85.957300
..          ...                                     ...        ...        ...
449         552                      Providence College  41.843870 -71.434922
450         553            Mississippi State University  33.455174 -88.794377
451         554                East Carolina University  35.606881 -77.366536
452         555           University of the Cumberlands  36.737150 -84.163824
453         556                    VILLANOVA UNIVERSITY  40.036893 -75.342579

[454 rows x 4 columns]

In [26]:
# Store latitude and longitude in locations
locations = Geo_df[["Lat", "Long"]]

# Fill NaN values and convert to float
#School_name = Geo_df["School Name"]

locations.head()

         Lat       Long
0  42.849462 -85.530665
1  33.571825 -85.103244
2  43.084496 -77.674931
3  40.776196 -74.432130
4  31.801096 -85.957300

In [48]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
#fig

In [49]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wi…

In [50]:
# Assign the marker layer to a variable
markers = gmaps.heatmap_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='1px', wi…