In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json as js
import gmaps
from scipy.stats import linregress
from geopy.geocoders import Nominatim

# Google developer API key
from RPAPIkey import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [4]:
# Read in the Geo_Df file
Geo_df = pd.read_csv('Geo_df.csv')
Geo_df.loc[1:70,:]

    Unnamed: 0                             School Name        Lat        Long
1            2              University of West Georgia  33.571825  -85.103244
2            5       Rochester Institute of Technology  43.084496  -77.674931
3            6  Fairleigh Dickinson-College at Florham  40.776196  -74.432130
4            7                         Troy University  31.801096  -85.957300
5            8             Western Illinois University  40.476615  -90.684360
..         ...                                     ...        ...         ...
66          89             Northern Arizona University  35.180440 -111.653968
67          90                 Millersville University  39.998794  -76.352739
68          91                       Temple University  39.980594  -75.155738
69          92                                Nebraska  41.492537  -99.901813
70          93             William Paterson University  40.947362  -74.196732

[70 rows x 4 columns]

In [5]:
# Store latitude and longitude in locations
locations = Geo_df[["Lat", "Long"]]

# Fill NaN values and convert to float
#School_name = Geo_df["School Name"]

locations.head()

         Lat       Long
0  42.849462 -85.530665
1  33.571825 -85.103244
2  43.084496 -77.674931
3  40.776196 -74.432130
4  31.801096 -85.957300

In [6]:
# Customize the size of the figure
figure_layout = {
    'width': '900px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '0px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
#fig

In [7]:
# Assign the marker layer to a variable
#markers = gmaps.marker_layer(locations)
# Add the layer to the map
#fig.add_layer(markers)
#fig

In [24]:
# Assign the marker layer to a variable
markers = gmaps.heatmap_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
#plt.savefig("Home_Team_Heatmap.png")
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', margin='0 auto 0 auto', padding='0px', wi…

In [13]:
states_df = []

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="
key = "&key=" + gkey
    
for index, rows in locations.iterrows():
    url = f"{base_url}{rows.Lat},{rows.Long}{key}"
    print(requests.get(url).json()["results"][0]["address_components"][4]["long_name"])
    states_df.append({
        "Lat":rows.Lat,
        "Long":rows.Long,
        "State":requests.get(url).json()["results"][0]["address_components"][4]["long_name"]
    })  
states_df.head()

Michigan
Georgia
Monroe County
New Jersey
Alabama
McDonough County
North Dakota
Ramsey County
Maricopa County
New Jersey
New Jersey
Connecticut
Alabama
Idaho
Oklahoma City
Tennessee
Michigan
Tennessee
Monongalia County
Texas
Kentucky
Orleans Parish
District D
Florida
Durham
United States
Minnesota
Texas
Kentucky
New Jersey
Michigan
Iowa
Maricopa County
McLean County
Michigan
Lisle Township
Lisle Township
Columbia
Mississippi
Texas
Camden County
Kent County
Bloomington Township
Kent County
Benton County
Texas
Georgia
Tennessee
Columbia
Wake County
Cook County
Bloomington Township
Michigan
Mississippi
Onondaga County
Monongalia County
Georgia
Orleans Parish
District D
Pennsylvania
Illinois
Texas
South Dakota
Connecticut
Maricopa County
United States
United States
Pennsylvania
Philadelphia County

IndexError: list index out of range

In [18]:
pd.DataFrame(states_df)

          Lat        Long                State
0   42.849462  -85.530665             Michigan
1   33.571825  -85.103244              Georgia
2   43.084496  -77.674931        Monroe County
3   40.776196  -74.432130           New Jersey
4   31.801096  -85.957300              Alabama
..        ...         ...                  ...
64  33.510034 -112.128859      Maricopa County
65  33.455174  -88.794377        United States
66  35.180440 -111.653968        United States
67  39.998794  -76.352739         Pennsylvania
68  39.980594  -75.155738  Philadelphia County

[69 rows x 3 columns]

In [21]:
states_group = states_df.groupby(['State'])
count_state = states_group['State'].count()
count_state

AttributeError: 'list' object has no attribute 'groupby'